.party {
  color: white !important;
}

.h1 {
  color: white !important;
}

.container-party {
  display: grid;
  background-color: rgba(28, 28, 22, 1);
  width: auto;
  height: auto;
  padding: 0 24px 24px;
}

.title {
  color: #fe4234;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.place {
  font-size: 21px;
}

.date {
  font-size: 21px;
}

.time {
  font-size: 21px;
}

.creator {
  font-size: 21px;
}

.description {
  font-size: 21px;
}

.dress {
  font-size: 21px;
}

.people {
  font-size: 21px;
}

.menu {
  font-size: 21px;
}

.cover {
  font-size: 21px;
}

.tags {
  font-size: 21px;
}
