.party-container {
  background-color: rgba(28, 28, 22, 1);
  padding: 15px 30px;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.ant-form-item-label label {
  color: white !important;
}

.party-form {
  max-width: 500px;
  color: white;
}
.register-form-forgot {
  float: right;
}
.register-form-button {
  width: 100%;
}
