.register-container {
  background-color: rgba(28, 28, 22, 1);
  padding: 15px 30px;
  border-radius: 5px;
  max-width: 300px;
}

.register-form {
  max-width: 300px;
}
.register-form-forgot {
  float: right;
}
.register-form-button {
  width: 100%;
}
