body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background: url(../img/login-back.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  display: table;
}

.name-wrapper {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 50%;
}

path {
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 1800;
  opacity: 10;
  animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }

  90% {
    fill: rgb(255, 255, 255, 0);
  }

  0% {
    opacity: 10;
    fill: rgb(255, 255, 255, 1);
    stroke-dashoffset: 0;
  }
}
