div.stroke > svg > g > path {
  stroke: #ffffff;
  fill: #ffffff;
  stroke-dasharray: 1800;
  opacity: 10;
  animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }

  90% {
    fill: rgb(255, 255, 255, 0);
  }

  0% {
    opacity: 10;
    fill: rgb(255, 255, 255, 1);
    stroke-dashoffset: 0;
  }
}
