.layout {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paper {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.avatar {
    margin: 10px;
    background: floralwhite;
}

.form {
    width: 100%;
    margin-top: 30px;
}

.submit {
    margin-top: 20px;
}